<!DOCTYPE html>
<html>
  <head>
    <title>TwitterClone</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>TwitterClone</h1>
      <nav>
        <%= link_to 'ホーム', root_path %> |
        <%= link_to '新規投稿', new_post_path %>
      </nav>
    </header>

    <%= yield %>

    <footer>
      <p>&copy; 2023 TwitterClone</p>
    </footer>
  </body>
</html>
